.balloonsy-container
  .blockgony.clearfix
      .blocky
        a(href="#")
          .blocky-middle
            .blocky-text Balloonsy
      .blocky.blocky-even
        a(href="#")
          .blocky-middle
            .blocky-text Balloon2
      .blocky.blocky-even
        a(href="#")
          .blocky-middle
            .blocky-text Balloon3
      .blocky
        a(href="#")
          .blocky-middle
            .blocky-text Balloon4
      .blocky.blocky-even
        a(href="#")
          .blocky-middle
            .blocky-text Balloon5
      .blocky
        a(href="#")
          .blocky-middle
            .blocky-text Balloon6
      .blocky.blocky-even
        a(href="#")
          .blocky-middle
            .blocky-text Balloon7
